---
import { Image } from 'astro:assets';
import defaultImage from '@/assets/images/default.jpg';

interface Props {
	src: any;
	alt: string;
}

const { src, alt } = Astro.props;

const fixedAlt = alt ?? 'Ilustrasi';
---

<div class="grid grid-cols-1 justify-items-center space-y-2">
	<Image src={src ?? defaultImage} alt={fixedAlt} />
	<div class="text-xs">{fixedAlt}</div>
</div>
