---
import Section from './Section.astro';
import NavbarMenu from './NavbarMenu.astro';
import Logo from './Logo.astro';
import LightSwitch from './LightSwitch.astro';
---

<Section>
	<div class="mx-auto flex w-full items-center justify-between px-4 sm:px-6 lg:px-8">
		<div class="flex-shrink-0">
			<a href="/" class="flex items-center space-x-2 text-3xl font-bold">
				<Logo />
			</a>
		</div>

		<div class="hidden items-center sm:flex">
			<NavbarMenu classes="flex items-center space-x-6" />

			<div class="ml-6 flex flex-col justify-center">
				<input type="checkbox" id="light-switch-desktop" class="light-switch sr-only" />
				<label class="tada relative cursor-pointer p-2" for="light-switch-desktop">
					<LightSwitch />
				</label>
			</div>
		</div>

		<div class="sm:hidden">
			<button
				id="menu-toggle"
				class="text-3xl text-gray-500 focus:outline-none"
				aria-label="Toggle Menu"
			>
				☰
			</button>

			<div
				id="mobile-menu"
				class="fixed inset-0 z-50 hidden transform bg-white p-4 transition-all duration-300 ease-in-out dark:bg-black"
			>
				<div class="flex items-center justify-between border-b pb-4 dark:border-gray-700">
					<div class="text-3xl font-bold">
						<a href="/" class="flex items-center space-x-2">
							<Logo />
						</a>
					</div>
					<button
						id="close-menu"
						class="text-3xl text-gray-500 focus:outline-none"
						aria-label="Close Menu"
					>
						✕
					</button>
				</div>
				<div class="mt-8 flex flex-col items-center space-y-4">
					<NavbarMenu classes="flex flex-col space-y-4 text-center text-2xl font-semibold" />

					<div class="flex flex-col justify-center pt-8">
						<input type="checkbox" id="light-switch-mobile" class="light-switch sr-only" />
						<label class="tada relative cursor-pointer p-2" for="light-switch-mobile">
							<LightSwitch />
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</Section>

<script>
	const lightSwitches = document.querySelectorAll<HTMLInputElement>('.light-switch');
	if (lightSwitches.length > 0) {
		lightSwitches.forEach((lightSwitch, i) => {
			if (localStorage.getItem('dark-mode') === 'true') {
				lightSwitch.checked = true;
			}
			lightSwitch.addEventListener('click', () => {
				const { checked } = lightSwitch;
				lightSwitches.forEach((el, n) => {
					if (n !== i) {
						el.checked = checked;
					}
				});
				if (lightSwitch.checked) {
					document.documentElement.classList.add('dark');
					localStorage.setItem('dark-mode', 'true');
				} else {
					document.documentElement.classList.remove('dark');
					localStorage.setItem('dark-mode', 'false');
				}
			});
		});
	}

	const menuToggle = document.getElementById('menu-toggle');
	const closeMenu = document.getElementById('close-menu');
	const mobileMenu = document.getElementById('mobile-menu');

	menuToggle?.addEventListener('click', () => {
		mobileMenu?.classList.remove('hidden');
		document.body.style.overflow = 'hidden';
	});

	closeMenu?.addEventListener('click', () => {
		mobileMenu?.classList.add('hidden');
		document.body.style.overflow = '';
	});

	const mobileMenuLinks = mobileMenu?.querySelectorAll('a');
	mobileMenuLinks?.forEach((link) => {
		link.addEventListener('click', () => {
			mobileMenu?.classList.add('hidden');
			document.body.style.overflow = '';
		});
	});
</script>
