---
interface Props {
	classes: string;
}

const { classes } = Astro.props;
---

<nav class={classes}>
	<ul class="flex flex-col sm:flex-row sm:space-x-4">
		<li><a href="/tags" class="block py-2 hover:text-orange-600">TAGS</a></li>
		<li><a href="/posts" class="block py-2 hover:text-orange-600">BLOG</a></li>
		<li><a href="/contact" class="block py-2 hover:text-orange-600">CONTACT</a></li>
	</ul>
</nav>
